<html layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:d="http://www.daisyui.com">
<head>
    <title>댓글 수정</title>
</head>

<div layout:fragment="content">
    <div class="hero-content flex-col mb-10">
        <div class="w-full px-4">

            <div class="flex flex-col items-center my-5">
                <h1 class="text-4xl my-2 font-bold">댓글 수정</h1>
            </div>


            <div class="flex flex-col gap-5 w-full">
                <form th:action=@{/comment/update/{id}(id=${comment.id})} method="post" class="mb-4 ">
                    <input type="hidden" name="id" th:value="${comment.id}"/>
                    <input type="hidden" name="postId" th:value="${comment.postId}"/>
                    <textarea name="content"
                              class="textarea textarea-bordered textarea-md w-full px-4 py-2 rounded-lg  focus:ring-2 focus:ring-blue-400"
                              th:text="${comment.content}" style="height: 200px; width: 600px"></textarea>
                    <div class="flex justify-end">
                        <button type="submit" class="px-4 py-2 btn mt-5">댓글 수정</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
</body>
</html>