<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>
        장소 정보
    </title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div layout:fragment="content">
  <div class="hero-content flex-col">
    <div class="max-w-2xl w-full px-4">
      <div>
        <div class="flex flex-col items-center my-5">
          <h1 th:text="${place.placeName}" class="text-4xl my-2 font-bold"></h1>
          <div class="flex gap-1">
            <i class="fa-regular fa-clock origin-center"></i>
            <div th:text="|${place.addressName}" class="flex justify-center"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="h-24 mt-10" th:text="${place.phone}"></div>
<!--        <div th:text="${postView.getData().content}" class="h-96 w-full" style="width: 640px"></div>-->
      </div>
      <div sec:authorize="isAuthenticated()">
        <form th:action="@{|/place/like/${placeLike == null ? 'create' : 'delete'}/${place.id}|}" method="POST">
          <button class="btn btn-outline btn-sm flex gap-1">좋아요
            <div th:text="${place.likeCount != null ? place.likeCount : 0}"></div>
            <i th:if="${placeLike == null}" class="fa-regular fa-heart mx-1"></i>
            <i th:if="${placeLike != null}" class="fa-solid fa-heart text-red-400 mx-1"></i>
          </button>
        </form>
      </div>
    </div>
    <a th:href="@{|/post/create/${place.id}|}" class="btn btn-primary btn-sm flex gap-1">
      글쓰기
    </a>
  </div>

</div>
</body>
</html>
