<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
  <title> 장소 목록 </title>
</head>

<body>
<div layout:fragment="content">
  <div class="hero-content flex-col mb-10">
    <div class="max-w-2xl w-full px-4">

      <div class="flex flex-col items-center my-5">
        <h1 class="text-4xl my-2 font-bold">장소 목록</h1>
      </div>

      <div class="flex flex-col gap-5 w-2xl">
        <a th:each="place, category : ${placeList}, ${categoryList}">
          <a th:href="@{|/place/view/${place.id}|}" class="card flex-shrink-0 w-full shadow-2xl bg-base-100"
             style="width: 640px">
            <div class="card-body">
              <div th:text="${place.placeName}" class="text-lg font-bold"></div>
                  <div>
                    <span th:text="'Address : ' + ${place.addressName}"></span>
                  </div>
                  <div>
                    <span th:text="'Tel : ' + ${place.phone}"></span>
                  </div>
                <div class="badge badge-accent badge-lg" th:text="${category.}"></div>
              </div>
              <div>
<!--                                <span th:text="${#strings.length(place.getContent()) > 150 ?-->
<!--                                #strings.substring(place.getContent(), 0, 150) + '...' : place.getContent()}"-->
<!--                                      class=" text-sm text-gray-400"></span>-->
              </div>
<!--              <div th:text="'등록일시 : ' + ${#temporals.format(place.createDate, 'yyyy-MM-dd HH:mm')}"-->
<!--                   class="flex justify-end"></div>-->
            </div>
          </a>
        </a>
      </div>
    </div>
  </div>


</div>
</div>


</div>
</body>
</html>