<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>공간 큐레이션</title>
</head>

<body>
<div layout:fragment="content">
    <div class="hero-content flex-col mb-10">
        <div class=" w-full px-4" style="width:1000px;">
            <div class="flex flex-col items-center my-10">
                <h1 class="text-4xl my-2 font-bold">공간 큐레이션</h1>
            </div>

            <div>
                <h2 class="text-2xl font-bold">검색하기</h2>
                <div class="divider !my-2"></div>
            </div>
            <div class="bg-gray-30">
                <div>
                    <div>
                        <div class="m-5">
                            <form th:action method="get" id="searchForm" onsubmit="searchSubmit()" class="flex justify-between gap-4">
                                <input type="hidden" name="latitude" id="latitude" th:value="${latitude}">
                                <input type="hidden" name="longitude" id="longitude" th:value="${longitude}">
                                <input type="hidden" id="page" name="page" th:value="${paging.number}">
                                <select id="positionSelect" class="select-md form-select select select-warning">
                                    <option id="position0" value="default" disabled selected>기준 위치</option>
                                    <option id="position1" value="current">현재 위치</option>
                                    <option id="position2" value="search" hidden>검색 위치</option>
                                </select>
                                <div>
                                    <select name="bigCategoryId"
                                            id="bigSelect"
                                            class="select-md form-select"
                                            onchange="showRelatedMidOptions(this)">
                                        <option disabled selected>대분류</option>
                                        <option th:each="bigCategory, loop : ${bigCategories}"
                                                th:if="${bigCategory.categoryName != null}"
                                                th:value="${bigCategory.id}"
                                                th:selected="${selectedBig} == ${bigCategory.id}"
                                                th:text="${bigCategory.categoryName}"></option>
                                    </select>
                                    <div class="form-select-arrow"></div>
                                </div>
                                <div>
                                    <select name="midCategoryId"
                                            id="midSelect"
                                            class="select-md form-select"
                                            onchange="showRelatedSmallOptions(this)"
                                            onfocus="showRelatedMidOptions(document.getElementById('bigSelect'))">
                                        <option disabled
                                                selected
                                                value="default">중분류
                                        </option>
                                        <option th:each="midCategory, loop : ${midCategories}"
                                                th:if="${midCategory.categoryName != null}"
                                                th:class="${midCategory.bigCategoryId} + ' hidden'"
                                                th:value="${midCategory.id}"
                                                th:selected="${selectedMid} == ${midCategory.id}"
                                                th:text="${midCategory.categoryName}"></option>
                                    </select>
                                    <div class="form-select-arrow"></div>
                                </div>
                                <div>
                                    <select name="smallCategoryId"
                                            id="smallSelect"
                                            class="select-md form-select"
                                            onfocus="showRelatedSmallOptions(document.getElementById('midSelect'))">
                                        <option disabled
                                                selected
                                                value="default">소분류
                                        </option>
                                        <option th:each="smallCategory, loop : ${smallCategories}"
                                                th:if="${smallCategory.categoryName != null}"
                                                th:class="${smallCategory.midCategoryId} + ' hidden'"
                                                th:value="${smallCategory.id}"
                                                th:selected="${selectedSmall} == ${smallCategory.id}"
                                                th:text="${smallCategory.categoryName}"></option>
                                    </select>
                                    <div class="form-select-arrow"></div>
                                </div>
                                <button type="submit" id="searchButton" class="btn btn-warning">검색</button>

                            </form>
                        </div>
                        <div class="gap-5">
                            <div class="map_wrap" style="width: 100%; height: 500px">
                                <div id="searchMap" class="rounded-lg border border-gray-300"
                                     style="width: 100%; height: 500px"></div>
                                <div class="hAddr">
                                    <span class="title">지도중심기준 행정동 주소정보</span>
                                    <span id="centerAddr"></span>
                                </div>

                                <div id="menu_wrap" class="bg_white">
                                    <div class="option">
                                        <div>
                                            <form id="keyword_form" onsubmit="searchPlaces(); return false;">키워드 :
                                                <input type="text" value="" id="keyword" size="15"
                                                       placeholder="장소를 입력해주세요"/>
                                                <button type="submit">검색하기</button>
                                            </form>
                                        </div>
                                    </div>
                                    <hr/>
                                    <ul id="placesList"></ul>
                                    <div id="pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-10 pt-10">
                <h2 class="text-2xl font-bold">큐레이션 목록</h2>
                <div class="divider !my-2"></div>
            </div>
            <div th:if="${#lists.size(placeInfoList) == 0}">
                <div class="flex flex-col justify-center items-center text-lg my-10">
                    <span>큐레이션 목록이 없습니다.</span>
                    <span>위치정보를 확인해주세요.</span>
                </div>
            </div>
            <div th:unless="${#lists.size(placeInfoList) == 0}">
                <div th:if="${!paging.isEmpty()}" class="flex justify-center mt-10">
                    <ul class="pagination justify-content-center flex">
                        <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
                            <a class="page-link m-1 btn  " href="javascript:void(0);"
                               th:data-page="${paging.number - 1}">
                                <span>이전</span>
                            </a>
                        </li>
                        <li th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}"
                            th:if="${page >= paging.number - 5 and page <= paging.number + 5}"
                            th:classappend="${page == paging.number} ? 'active'"
                            class="page-item">
                            <a th:text="${page}" class="page-link m-1 btn btn-outline" href="javascript:void(0);"
                               th:data-page="${page}"></a>
                        </li>
                        <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">
                            <a class="page-link m-1 btn " href="javascript:void(0);"
                               th:data-page="${paging.number + 1}">
                                <span>다음</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="container pb-8 mt-6">
                    <div class="grid grid-cols-3 gap-5">
                        <div th:each="placeInfo, loop : ${placeInfoList}">
                            <a th:href="@{|/place/details/${placeInfo.place.id}|}"
                               class="card flex-shrink-0 w-full shadow-2xl bg-base-100">
                                <!--                           onclick="window.open(this.href, '_blank', 'width=600, height=700'); return false;">-->
                                <div class="card-body">
                                    <div th:text="${placeInfo.place.placeName}" class="text-lg font-bold"></div>
                                    <div class="flex justify-between">
                                        <div class="flex flex-col gap-2">
                                            <div th:if="${!#strings.isEmpty(placeInfo.bigCategoryName)}">
                                                <div class="badge badge-ghost badge-md"
                                                     th:text="${placeInfo.bigCategoryName}"></div>
                                            </div>
                                            <div th:if="${!#strings.isEmpty(placeInfo.midCategoryName)}">
                                                <div class="badge badge-ghost badge-md"
                                                     th:text="${placeInfo.midCategoryName}"></div>
                                            </div>
                                            <div th:if="${!#strings.isEmpty(placeInfo.smallCategoryName)}">
                                                <div class="badge badge-ghost badge-md"
                                                     th:text="${placeInfo.smallCategoryName}"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <i class="fa-regular fa-heart text-red-400"></i>
                                                <span th:text="${placeInfo.place.likeCount != null ? placeInfo.place.likeCount : 0}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c2731d0cd855e5c9f82b8e58be1def4e&libraries=services"></script>

    <script>
        var latitudeElement = document.getElementById('latitude');
        var longitudeElement = document.getElementById('longitude');
        var searchOption = document.getElementById('position2');
        var mapContainer = document.getElementById('searchMap'); // 카카오맵을 표시할 HTML 요소
        var mapOptions = {center: new kakao.maps.LatLng(37.564989, 126.9771), level: 6};
        var map = new kakao.maps.Map(mapContainer, mapOptions);
        var geocoder = new kakao.maps.services.Geocoder();
        var marker2 = new kakao.maps.Marker({position: map.getCenter()});
        var markers = [];

        marker2.setMap(map);

        kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
            var latlng = mouseEvent.latLng;
            kakao.maps.event.addListener(marker2, 'click', function () {
                document.getElementById('positionSelect').value = "default";
                setLatLon(latlng.Ma, latlng.La);
            });
            marker2.setPosition(latlng);
        });

        var lat = latitudeElement.value,
            lon = longitudeElement.value;
        var markerposition = new kakao.maps.LatLng(lat, lon),
            message = '<div style="padding:5px;">검색 위치</div>';
        displayMarker1(markerposition, message);

        kakao.maps.event.addListener(map, 'idle', function () {
            searchAddrFromCoords(map.getCenter(), displayCenterInfo);
        });

        function searchAddrFromCoords(coords, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
        }


        document.getElementById("positionSelect").onchange = function () {
            var selectedOption = this.value;
            if (selectedOption === "current") {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var lat = position.coords.latitude,
                            lon = position.coords.longitude;
                        latitudeElement.value = lat;
                        longitudeElement.value = lon;
                        var markerposition = new kakao.maps.LatLng(lat, lon),
                            message = '<div style="padding:5px;">현재 나의 위치</div>';
                        displayMarker(markerposition, message);

                    });
                }

                function displayMarker(markerposition) {
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: markerposition
                    });
                    map.setCenter(markerposition);
                }
            }
        };

        // 키워드 검색을 요청하는 함수입니다
        function searchPlaces() {

            var keyword = document.getElementById('keyword').value;

            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!');
                return false;
            }

            var ps = new kakao.maps.services.Places();
            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
            ps.keywordSearch(keyword, placesSearchCB);
        }

        function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {
                // 정상적으로 검색이 완료됐으면
                // 검색 목록과 마커를 표출합니다
                displayPlaces(data);
                // 페이지 번호를 표출합니다
                displayPagination(pagination);
            } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

                alert('검색 결과가 존재하지 않습니다.');
                return;

            } else if (status === kakao.maps.services.Status.ERROR) {

                alert('검색 결과 중 오류가 발생했습니다.');
                return;

            }
        }

        // 지도에 마커를 표시하는 함수입니다
        // 검색 결과 목록과 마커를 표출하는 함수입니다
        function displayPlaces(places) {
            var listEl = document.getElementById('placesList'),
                menuEl = document.getElementById('menu_wrap'),
                fragment = document.createDocumentFragment(),
                bounds = new kakao.maps.LatLngBounds(),
                listStr = '';

            // 검색 결과 목록에 추가된 항목들을 제거합니다
            removeAllChildNods(listEl);

            // 지도에 표시되고 있는 마커를 제거합니다
            removeMarker();

            for (var i = 0; i < places.length; i++) {

                // 마커를 생성하고 지도에 표시합니다
                var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                    marker5 = addMarker5(placePosition, i, places[i].place_name),
                    itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                bounds.extend(placePosition);

                // 마커와 검색결과 항목에 mouseover 했을때
                // 해당 장소에 인포윈도우에 장소명을 표시합니다
                // mouseout 했을 때는 인포윈도우를 닫습니다
                (function (marker5, title) {
                    kakao.maps.event.addListener(marker5, 'mouseover', function () {
                        displayInfowindow(marker5, title);
                    });

                    kakao.maps.event.addListener(marker5, 'mouseout', function () {
                        infowindow5.close();
                    });

                    itemEl.onmouseover = function () {
                        displayInfowindow(marker5, title);
                    };

                    itemEl.onmouseout = function () {
                        infowindow5.close();
                    };

                })(marker5, places[i].place_name);

                fragment.appendChild(itemEl);
            }
            // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
            listEl.appendChild(fragment);
            menuEl.scrollTop = 0;

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }

        // 검색결과 목록의 자식 Element를 제거하는 함수입니다
        function removeAllChildNods(el) {
            while (el.hasChildNodes()) {
                el.removeChild(el.lastChild);
            }
        }

        function removeMarker() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

        // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
        function addMarker5(position, idx, title) {
            var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                imgOptions = {
                    spriteSize: new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                    spriteOrigin: new kakao.maps.Point(0, (idx * 46) + 10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                    offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                },
                markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                marker5 = new kakao.maps.Marker({
                    position: position, // 마커의 위치
                    image: markerImage
                });

            marker5.setMap(map); // 지도 위에 마커를 표출합니다
            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker5, 'click', function () {
                // 마커 위에 인포윈도우를 표시합니다
                setTitle(title);
                setLatLon(position.Ma, position.La);
            });
            markers.push(marker5);  // 배열에 생성된 마커를 추가합니다

            return marker5;
        }


        function displayCenterInfo(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var infoDiv = document.getElementById('centerAddr');

                for (var i = 0; i < result.length; i++) {
                    // 행정동의 region_type 값은 'H' 이므로
                    if (result[i].region_type === 'H') {
                        infoDiv.innerHTML = result[i].address_name;
                        break;
                    }
                }
            }
        }


        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
        function displayCenterInfo(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var infoDiv = document.getElementById('centerAddr');

                for (var i = 0; i < result.length; i++) {
                    // 행정동의 region_type 값은 'H' 이므로
                    if (result[i].region_type === 'H') {
                        infoDiv.innerHTML = result[i].address_name;
                        break;
                    }
                }
            }
        }

        function displayMarker1(markerposition, message) {
            var marker1 = new kakao.maps.Marker({
                map: map,
                position: markerposition
            });

            var iwContent = message,
                iwRemoveable = true;

            var infowindow = new kakao.maps.InfoWindow({
                content: iwContent,
                removable: iwRemoveable
            });

            kakao.maps.event.addListener(marker1, 'click', function () {
                document.getElementById('positionSelect').value = "current";
                setLatLon(markerposition.Ma, markerposition.La);
            });

            infowindow.open(map, marker1);
            map.setCenter(markerposition);
        }


        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
        function makeOverListener(map, marker, infowindow) {
            return function () {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
        function makeOutListener(infowindow) {
            return function () {
                infowindow.close();
            };
        }

        var marker4 = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(33.451393, 126.570738)
        });


        var markers = [];

        var infowindow5 = new kakao.maps.InfoWindow({zIndex: 1});

        function setTitle(title) {
            searchOption.hidden = false;
            searchOption.innerText = title;
            searchOption.selected = true
        }

        function setLatLon(latitude, longitude) {
            latitudeElement.value = latitude;
            longitudeElement.value = longitude;
        }

        // 검색결과 항목을 Element로 반환하는 함수입니다
        function getListItem(index, places) {

            var el = document.createElement('li'),
                itemStr = '<span class="markerbg marker_' + (index + 1) + '"></span>' +
                    '<div class="info">' +
                    '   <h5>' + places.place_name + '</h5>';

            if (places.road_address_name) {
                itemStr += '    <span>' + places.road_address_name + '</span>' +
                    '   <span class="jibun gray">' + places.address_name + '</span>';
            } else {
                itemStr += '    <span>' + places.address_name + '</span>';
            }

            itemStr += '  <span class="tel">' + places.phone + '</span>' +
                '</div>';

            el.innerHTML = itemStr;
            el.className = 'item';

            return el;
        }


        // 지도 위에 표시되고 있는 마커를 모두 제거합니다


        // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
        function displayPagination(pagination) {
            var paginationEl = document.getElementById('pagination'),
                fragment = document.createDocumentFragment(),
                i;

            // 기존에 추가된 페이지번호를 삭제합니다
            while (paginationEl.hasChildNodes()) {
                paginationEl.removeChild(paginationEl.lastChild);
            }

            for (i = 1; i <= pagination.last; i++) {
                var el = document.createElement('a');
                el.href = "#";
                el.innerHTML = i;

                if (i === pagination.current) {
                    el.className = 'on';
                } else {
                    el.onclick = (function (i) {
                        return function () {
                            pagination.gotoPage(i);
                        }
                    })(i);
                }

                fragment.appendChild(el);
            }
            paginationEl.appendChild(fragment);
        }

        // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
        // 인포윈도우에 장소명을 표시합니다
        function displayInfowindow(marker5, title) {
            var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

            infowindow5.setContent(content);
            infowindow5.open(map, marker5);
        }


        function searchLocation() {
            var latitude = document.getElementById("latitude").value;
            var longitude = document.getElementById("longitude").value;
            var searchForm = document.getElementById("searchForm");

            searchForm.action = "/search?latitude=" + latitude + "&longitude=" + longitude;
            searchForm.submit();
        }

        function searchSubmit(searchForm) {
            document.getElementById('page').value = 0;
            searchForm.submit();
        }
        function pageSubmit() {
            document.getElementById('searchForm').submit();
        }

    </script>

    <script th:inline="javascript">
        let placeArray = new Array();
        let placeInfo;
        /*[# th:each="place : ${placeInfoList}"]*/
        placeInfo = {
            id: /*[[${place.place.id}]]*/null,
            name: /*[[${place.place.placeName}]]*/null,
            xPos: /*[[${place.place.point.x}]]*/null,
            yPos: /*[[${place.place.point.y}]]*/null
        };
        placeArray.push(placeInfo);
        /*[/]*/

        console.log(placeArray);

        var xPosAverageByPlace = /*[[${xPosAverageByPlace}]]*/null;
        var yPosAverageByPlace = /*[[${yPosAverageByPlace}]]*/null;

        console.log("x " + xPosAverageByPlace);
        console.log("y " + yPosAverageByPlace);


        // --------카카오 맵 지도 생성--------------
        // 마커를 표시할 위치와 title 객체 배열입니다
        var positions = [];

        for (var i = 0; i < placeArray.length; i++) {
            var place = placeArray[i];
            var position = {
                id: place.id,
                title: place.name,
                latlng: new kakao.maps.LatLng(place.yPos, place.xPos)
            };
            positions.push(position);
        }

        // 마커 이미지의 이미지 주소입니다
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

        for (var i = 0; i < positions.length; i++) {

            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35);

            // 마커 이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image: markerImage // 마커 이미지
            });

            var content = '<div class="customoverlay">' +
                '  <a href="/place/details/' + positions[i].id + '" target="_blank">' +
                '    <span class="title">' + positions[i].title + '</span>' +
                '  </a>' +
                '</div>';

            // 커스텀 오버레이를 생성합니다
            var customOverlay = new kakao.maps.CustomOverlay({
                map: map,
                position: positions[i].latlng,
                content: content,
                yAnchor: 1
            });

        }

        var lat = latitudeElement.value,
            lon = longitudeElement.value;
        var markerposition = new kakao.maps.LatLng(lat, lon),
            message = '<div style="padding:5px;">검색 위치</div>';
        displayMarker1(markerposition, message);

    </script>
</div>
<script layout:fragment="script" type="text/javascript">
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            pageSubmit();
        });
    });
</script>
</body>
</html>