<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>장소 목록</title>
</head>

<body>
<div layout:fragment="content">
    <script>
        getCurrentCoords(); // 현재 위치를 불러와 전역 변수에 저장 lat, lon
    </script>
    <div class="hero-content flex-col mb-10">
        <div class="max-w-2xl w-full px-4">
            <div class="flex flex-col items-center my-5">
                <h1 class="text-4xl my-2 font-bold">장소 목록</h1>
            </div>

            <div class="bg-gray-30">
                <div>
                    <form th:action method="get"
                          id="searchForm"
                          onsubmit=submitCheck(this); return false;>
                        <input type="hidden" name="latitude" id="latitude" th:value="${latitude}">
                        <input type="hidden" name="longitude" id="longitude" th:value="${longitude}">
                        <input type="hidden" id="page" name="page" th:value="${paging.number}">

                        <div class="flex justify-between">
                            <select class="select-md form-select">
                                <option disabled selected>기준 위치</option>
                                <option id="position1" value="current">현재 위치</option>
                                <option id="position2" value="search">검색 위치</option>
                            </select>
                            <button type="submit" class="btn btn-primary bg-blue-700 w-50">검색</button>
                        </div>
                        <div class="flex flex-row justify-around">
                            <div class="w-64 mx-auto mt-8 p-4 m-2">
                                <select name="bigCategoryId"
                                        id="bigSelect"
                                        class="select-md form-select"
                                        onchange="showRelatedMidOptions(this)">
                                    <option disabled selected>대분류</option>
                                    <option th:each="bigCategory, loop : ${bigCategories}"
                                            th:value="${bigCategory.id}"
                                            th:selected="${selectedBig} == ${bigCategory.id}"
                                            th:text="${bigCategory.categoryName}"></option>
                                </select>
                                <div class="form-select-arrow"></div>
                            </div>
                            <div class="w-64 mx-auto mt-8 p-4 m-2">
                                <select name="midCategoryId"
                                        id="midSelect"
                                        class="select-md form-select"
                                        onchange="showRelatedSmallOptions(this)">
                                    <option disabled
                                            selected
                                            value="default">중분류</option>
                                    <option th:each="midCategory, loop : ${midCategories}"
                                            th:class="${midCategory.bigCategoryId} + ' hidden'"
                                            th:value="${midCategory.id}"
                                            th:selected="${selectedMid} == ${midCategory.id}"
                                            th:text="${midCategory.categoryName}"></option>
                                </select>
                                <div class="form-select-arrow"></div>
                            </div>
                            <div class="w-64 mx-auto mt-8 p-4 m-2">
                                <select name="smallCategoryId" id="smallSelect" class="select-md form-select">
                                    <option disabled
                                            selected
                                            value="default">소분류</option>
                                    <option th:each="smallCategory, loop : ${smallCategories}"
                                            th:class="${smallCategory.midCategoryId} + ' hidden'"
                                            th:value="${smallCategory.id}"
                                            th:selected="${selectedSmall} == ${smallCategory.id}"
                                            th:text="${smallCategory.categoryName}"></option>
                                </select>
                                <div class="form-select-arrow"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container mx-auto py-8">
                <div class="grid grid-cols-3 gap-3">
                    <div th:each="placeInfo, loop : ${placeInfoList}">
                        <a th:href="@{|/place/details/${placeInfo.place.id}|}"
                           class="card flex-shrink-0 w-full shadow-2xl bg-base-100">
                            <!--                           onclick="window.open(this.href, '_blank', 'width=600, height=700'); return false;">-->
                            <div class="card-body">
                                <div th:text="${placeInfo.place.placeName}" class="text-md font-bold"></div>
                                <div th:if="${!#strings.isEmpty(placeInfo.bigCategoryName)}">
                                    <div class="badge badge-accent badge-md"
                                         th:text="${placeInfo.bigCategoryName}"></div>
                                </div>
                                <div th:if="${!#strings.isEmpty(placeInfo.midCategoryName)}">
                                    <div class="badge badge-accent badge-md"
                                         th:text="${placeInfo.midCategoryName}"></div>
                                </div>
                                <div th:if="${!#strings.isEmpty(placeInfo.smallCategoryName)}">
                                    <div class="badge badge-accent badge-md"
                                         th:text="${placeInfo.smallCategoryName}"></div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div th:if="${!paging.isEmpty()}" class="flex justify-center">
                <ul class="pagination justify-content-center flex">
                    <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
                        <a class="page-link m-1 btn btn-outline btn-secondary" href="javascript:void(0);" th:data-page="${paging.number - 1}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}"
                        th:if="${page >= paging.number - 5 and page <= paging.number + 5}"
                        th:classappend="${page == paging.number} ? 'active'"
                        class="page-item">
                        <a th:text="${page}" class="page-link m-1 btn btn-outline" href="javascript:void(0);" th:data-page="${page}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">
                        <a class="page-link m-1 btn btn-outline btn-secondary" href="javascript:void(0);" th:data-page="${paging.number + 1}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" type="text/javascript">
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
</script>
</body>
</html>