<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
  <title>장소 목록</title>
</head>

<body>
<div layout:fragment="content">
    <script>
        getCurrentCoords(); // 현재 위치를 불러와 전역 변수에 저장 lat, lon

        function submitCheck(form) {
            console.log(lat);
            console.log(lon);
            document.getElementById("latitude").value = lat;
            document.getElementById("longitude").value = lon;

            form.submit();
        }
    </script>
  <div class="hero-content flex-col mb-10">
    <div class="max-w-2xl w-full px-4">
      <div class="flex flex-col items-center my-5">
        <h1 class="text-4xl my-2 font-bold">장소 목록</h1>
      </div>

        <div class="bg-gray-30">
            <div class="container mx-auto py-8">
                <div class="grid grid-cols-3 gap-3">
                    <form class="flex" th:action method="get" onsubmit=submitCheck(this); return false;>
                        <input type="hidden" name="latitude" id="latitude">
                        <input type="hidden" name="longitude" id="longitude">

                        <div class="w-64 mx-auto mt-8 p-4 m-2">
                            <div class="w-full">
                                <div class="relative">
                                    <select class="select-lg form-select">
                                        <option disabled selected>기준 위치</option>
                                        <option id="position1" value="current">현재 위치</option>
                                        <option id="position2" value="search">검색 위치</option>
                                    </select>
                                    <div class="form-select-arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="w-64 mx-auto mt-8 p-4 m-2">
                            <div class="w-full">
                                <div class="relative">
                                    <select class="select-lg form-select">
                                        <option disabled selected>대분류</option>
                                        <option th:each="bigCategory, loop : ${bigCategories}" id="bigCategoryId" th:value="${bigCategory.id}"
                                                th:text="${bigCategory.categoryName}"></option>
                                    </select>
                                    <div class="form-select-arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="w-64 mx-auto mt-8 p-4 m-2">
                            <div class="w-full">
                                <div class="relative">
                                    <select class="select-lg form-select">
                                        <option disabled selected>중분류</option>
                                        <option th:each="midCategory, loop : ${midCategories}" id="midCategoryId" th:value="${midCategory.id}"
                                                th:text="${midCategory.categoryName}"></option>
                                    </select>
                                    <div class="form-select-arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary bg-blue-700 w-50">검색</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container mx-auto py-8">
                <div class="grid grid-cols-3 gap-3">
                    <div th:each="placeInfo, loop : ${placeInfoList}">
                        <a th:href="@{|/place/details/${placeInfo.place.id}|}"
                           class="card flex-shrink-0 w-full shadow-2xl bg-base-100">
<!--                           onclick="window.open(this.href, '_blank', 'width=600, height=700'); return false;">-->
                            <div class="card-body">
                                <div th:text="${placeInfo.place.placeName}" class="text-lg font-bold"></div>
                                <div th:if="${!#strings.isEmpty(placeInfo.bigCategoryName)}">
                                    <div class="badge badge-accent badge-md" th:text="${placeInfo.bigCategoryName}"></div>
                                </div>
                                <div th:if="${!#strings.isEmpty(placeInfo.midCategoryName)}">
                                    <div class="badge badge-accent badge-md" th:text="${placeInfo.midCategoryName}"></div>
                                </div>
                                <div th:if="${!#strings.isEmpty(placeInfo.smallCategoryName)}">
                                    <div class="badge badge-accent badge-md" th:text="${placeInfo.smallCategoryName}"></div>
                                </div>

                            </div>
                            <div>
                                <!--                                <span th:text="${#strings.length(place.getContent()) > 150 ?-->
                                <!--                                #strings.substring(place.getContent(), 0, 150) + '...' : place.getContent()}"-->
                                <!--                                      class=" text-sm text-gray-400"></span>-->
                            </div>
                            <!--              <div th:text="'등록일시 : ' + ${#temporals.format(place.createDate, 'yyyy-MM-dd HH:mm')}"-->
                            <!--                   class="flex justify-end"></div>-->
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
  </div>
</body>
</html>