<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title> 나의 공간 아카이빙 </title>

</head>

<body>
<div layout:fragment="content">


    <!--flowbite 불러오기-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"  rel="stylesheet" />
    <!--datepicker 불러오기-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/datepicker.min.js"></script>

    <div class="mx-52 my-10">

        <div class="text-center my-5">
            <h1 class="text-4xl my-2 font-bold">나의 공간 아카이빙</h1>
            <div class="p-10"></div>
        </div>

        <style>
            .thumbnail {
                flex: 0 0 200px;
                position: relative;
                max-width: 200px;
                max-height: 200px;
                scroll-snap-align: start;
            }
        </style>

        <script th:inline="javascript">
            const imageLimit = 10;
            let imageFiles = new Array();
            const dataTransfer = new DataTransfer();

            /*<![CDATA[*/
            function modifyInit(images) {
                const fileInput = document.getElementById('fileUpload');
                if (images != null) {
                    for (let i = 0; i < images.length; i++) {
                        const image = new Image();
                        image.onload = function () {
                            const canvas = document.createElement('canvas');
                            const context = canvas.getContext('2d');
                            canvas.width = image.width;
                            canvas.height = image.height;
                            context.drawImage(image, 0, 0);
                            const imageData = canvas.toDataURL('image/jpeg');
                            imageFiles.push(imageData);
                            const imgName = images[i].split('/');
                            dataTransfer.items.add(dataURLToFile(imageData, imgName[imgName.length - 1]));
                            updateImageList();
                        };
                        image.src = images[i];
                    }
                }

                fileInput.files = dataTransfer.files;
            }
            /*]]>*/

            function dataURLToFile(dataURL, filename) {
                const arr = dataURL.split(',');
                const mime = arr[0].match(/:(.*?);/)[1];
                const extension = mime.split('/')[1];
                const fileName = filename || `image${Date.now()}.${extension}`;
                const bstr = atob(arr[1]);
                let n = bstr.length;
                const u8arr = new Uint8Array(n);
                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new File([u8arr], fileName, { type: mime });
            }

            function validate(visitedDate, visitedDateValue) {
                if (visitedDateValue.length == 0) {
                    alert('방문 날짜를 입력해야 합니다.')
                    visitedDate.focus();
                    return false;
                }

                const now = new Date();
                const nowMonth = '0' + (now.getMonth() + 1);
                const nowDay = '0' + now.getDate();

                const nowString = now.getFullYear() + '-' + nowMonth + '-' + nowDay;
                if (new Date(visitedDateValue) > new Date(nowString)) {
                    alert('현재보다 미래의 날짜는 입력할 수 없습니다.')
                    visitedDate.focus();
                    return false;
                }
                return true;
            }

            function upload(form) {
                const visitedDate = document.getElementById('visitedDate')
                const visitedDateValue = visitedDate.value;
                if (!validate(visitedDate, visitedDateValue)) {
                    return
                }

                form.images.files = dataTransfer.files;
                form.submit();
            }

            function addImage(input) {
                const files = Array.from(input.files);
                if (files.length == 0) {
                    return
                }

                if (imageFiles.length + files.length > imageLimit) {
                    alert('사진은 최대 ' + imageLimit + '개까지 올릴 수 있습니다.');
                    return;
                }

                files.forEach((file) => {
                    dataTransfer.items.add(file);
                    const reader = new FileReader();
                    reader.onload = function (event) {
                        const imageData = event.target.result;
                        imageFiles.push(imageData);
                        updateImageList();
                    };
                    reader.readAsDataURL(file);
                });

                input.value = '';
            }

            function removeImage(idx) {
                dataTransfer.items.remove(idx);
                imageFiles.splice(idx, 1);
                updateImageList();
            }

            function updateImageList() {
                const imageListDiv = document.getElementById('imageList');
                imageListDiv.innerHTML = '';

                for (let i = 0; i < imageFiles.length; i++) {
                    const image = imageFiles[i];
                    const imageItem = document.createElement('div');
                    imageItem.style = "position: relative;";
                    imageItem.innerHTML = `
                                        <img src="${image}" alt="Image ${i + 1}" class="thumbnail"/>
                                        <button class="absolute top-0 right-0 px-2 pt-1 bg-red-500 text-2xl text-white" onclick="removeImage(${i})">X</button>
                                      `;
                    imageListDiv.appendChild(imageItem);
                }

                setTimeout(function () {
                    imageListDiv.scrollLeft = imageListDiv.scrollWidth;
                }, 0);
            }
            const images = /*[[${photoList}]]*/;
            window.onload = function() {
                modifyInit(images);
            };
        </script>

        <form th:action enctype="multipart/form-data" method="post" onsubmit="upload(this); return false;">
            <div class="flex pb-10 border-b-2 my-10" style="width: 1000px; height: 270px">
                <div class="flex justify-start items-center gap-8 overflow-x-auto w-10/12" id="imageList"></div>
                <div class="flex bg-gray-300 mx-4 relative justify-center w-2/12 text-center">
                    <div>
                        <br>
                        <br>
                        <p>클릭, 혹은 드래그로</p>
                        <p>이미지 파일 첨부</p><br>
                        <br>
                        <p>1개당 최대 4MB</p>
                        <p>최대 10개</p>
                    </div>
                    <input name="images" id="fileUpload" class="absolute w-full h-full" style="opacity:0;filter:alpha(opacity=0);" type="file" accept="image/*" multiple onchange="addImage(this)"/>
                </div>
            </div>
            <div class="flex justify-center mb-5">
                <div class="flex flex-col gap-4">
                    <div class="card mb-5">
                        <div class="text-2xl font-bold mb-2">방문한 장소</div>
                        <div class="relative w-60 h-12">
                            <div th:if="${placeName != null}" th:text="${placeName.getData()}"></div>
                            <div th:if="${modifyingData != null}" th:text="${modifyingData.getData().getPlaceName()}"></div>
                        </div>
                    </div>

                    <div class="card mb-5">
                        <div class="text-2xl font-bold mb-2">방문한 날짜</div>
                        <div class="relative w-60 h-12">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-black dark:white" fill="currentColor"
                                     viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </div>

                            <input name="visitedDate" id="visitedDate" datepicker datepicker-autohide datepicker-format="yyyy-mm-dd"
                                   type="text"
                                   th:value="${modifyingData != null ? modifyingData.getData().getVisitedDate() : ''}"
                                   class="w-52 h-12 bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Select date">
                        </div>
                    </div>

                    <th:block th:if="${modifyingData == null}" class="card mb-5">
                        <div class="text-2xl font-bold mb-2">공개 여부</div>
                        <select name="isOpenToPublic" id="isOpenToPublic" class="select select-bordered w-full max-w-xs">
                            <option>공개</option>
                            <option>비공개</option>
                        </select>
                    </th:block>
                </div>

                <div class="ml-36">

                    <div>
                        <div class="text-2xl font-bold mb-2">내용</div>
                        <textarea name="content" id='content' placeholder="공간에서의 경험과 감상을 작성해보세요"
                                  th:text="${modifyingData != null ? modifyingData.getData().getContent() : ''}"
                                  class="textarea textarea-bordered"
                                  style="width: 500px; height: 300px; resize: none"></textarea>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary bg-blue-700 my-7 w-60">등록하기</button>
            </div>
        </form>

    </div>
</div>
</div>
</body>
</html>