<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title> 나의 공간 아카이빙 </title>


</head>

<body>
<div layout:fragment="content">

    <!--flowbite 불러오기-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"  rel="stylesheet" />
    <!--datepicker 불러오기-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/datepicker.min.js"></script>

    <script>
        function validate(form) {
            const visitedDate = form.visitedDate.value;
            if (visitedDate.length == 0) {
                alert('방문 날짜를 입력해야 합니다.')
                form.visitedDate.focus();
                return;
            }

            const now = new Date();
            const nowMonth = '0' + (now.getMonth() + 1);
            const nowDay = '0' + now.getDate();

            const nowString = now.getFullYear() + '-' + nowMonth + '-' + nowDay;
            if (new Date(visitedDate) > new Date(nowString)) {
                alert('현재보다 미래의 날짜는 입력할 수 없습니다.')
                form.visitedDate.focus();
                return;
            }

            form.submit();
        }
    </script>

    <div class="mx-52 my-10">

        <div class="text-center my-5">
            <h1 class="text-4xl my-2 font-bold">나의 공간 아카이빙</h1>
            <div class="p-10"></div>
        </div>

        <form th:action method="post" enctype="multipart/form-data" onsubmit="validate(this); return false;">
            <div class="flex pb-10 border-b-2 my-10">
                <div class="flex overflow-x-auto">
                    <th:block th:each="num : ${#numbers.sequence(1, 10)}">
                        <div th:text="${num}" class="mx-8"></div>
                    </th:block>
                </div>

                <input type="file" id="fileUpload" multiple="multiple" accept="image/*" name="images"/>
            </div>

            <div class="flex justify-center mb-5">
                <div class="flex flex-col gap-4">
                    <div class="card mb-5">
                        <div class="text-2xl font-bold mb-2">공간 추가</div>
                        <div class="dropdown dropdown-bottom">
                            <select name="place" class="select select-bordered w-full max-w-xs">
                                <option th:if="${modifyingData != null}" th:text="${modifyingData.getData().getPlaceName()}">서울 시청</option>

                                <option th:if="${modifyingData == null || modifyingData.getData().getPlaceName() != '서울 시청'}">서울 시청</option>

                                <option th:if="${modifyingData == null || modifyingData.getData().getPlaceName() != '부산 시청'}">부산 시청</option>
                            </select>
                        </div>
                    </div>

                    <div class="card mb-5">
                        <div class="text-2xl font-bold mb-2">방문한 날짜</div>
                        <div class="relative w-60 h-12">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-black dark:white" fill="currentColor"
                                     viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </div>

                            <input name="visitedDate" id="visitedDate" datepicker datepicker-autohide datepicker-format="yyyy-mm-dd"
                                   type="text"
                                   th:value="${modifyingData != null ? modifyingData.getData().getVisitedDate() : ''}"
                                   class="w-52 h-12 bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Select date">
                        </div>
                    </div>

                    <th:block th:if="${modifyingData == null}" class="card mb-5">
                        <div class="text-2xl font-bold mb-2">공개 여부</div>
                        <select name="isOpenToPublic" class="select select-bordered w-full max-w-xs">
                            <option>공개</option>
                            <option>비공개</option>
                        </select>
                    </th:block>

                    <script>
                        function selectItem(element) {
                            const selectedItem = element.textContent;
                            const inputElement = element.closest('.dropdown').querySelector('input');
                            if (inputElement) {
                                inputElement.value = selectedItem;
                            }
                        }
                    </script>
                </div>

                <div class="ml-36">

                    <div>
                        <div class="text-2xl font-bold mb-2">내용</div>
                        <textarea name="content" id='content' placeholder="공간에서의 경험과 감상을 작성해보세요"
                                  th:text="${modifyingData != null ? modifyingData.getData().getContent() : ''}"
                                  class="textarea textarea-bordered"
                                  style="width: 500px; height: 300px; resize: none"></textarea>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary bg-blue-700 my-7 w-60">등록하기</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>