<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>공간 아카이빙 목록 </title>
</head>

<body>
<div layout:fragment="content">
    <div class="hero-content flex-col mb-10">
        <div class=" w-full px-4">

            <div class="flex flex-col items-center my-10">
                <h1 class="text-4xl my-2 font-bold">공간 아카이빙 목록</h1>
            </div>

            <div class="flex flex-col gap-3 w-2xl mb-5">
                <a th:each="post, loop : ${postViewerList}">
                    <form th:action method="GET" id="postForm">
                        <input type="hidden" id="page" name="page" th:value="${paging.number}">
                        <a th:href="@{|/post/view/${post.postId}|}"
                           class="card flex-shrink-0 w-full shadow-2xl bg-base-100"
                           style="width: 800px">
                            <div class="card-body">
                                <div class="flex justify-between gap-5">
                                        <div class="flex flex-col justify-between items-between gap-2">
                                            <div class="flex gap-3 mt-2">
                                                <div th:text="${post.placeName}" class="text-2xl font-bold "></div>
                                                <div th:if="${!#strings.isEmpty(post.midCategoryName)}">
                                                    <div class="badge badge-ghost badge-md"
                                                         th:text="${post.midCategoryName}"></div>
                                                </div>
                                            </div>
                                            <div class="flex flex-row gap-4 justify-between mt-5" >
                                                <span th:text="${#strings.length(post.content) > 150 ?
                                                        #strings.substring(post.content, 0, 150) + '...' : post.content}"
                                                      class="text-sm text-gray-400 line-break clamp-lines"
                                                      style="width: 500px;"></span>
                                            </div>
                                            <div class="flex flex-col gap-1">
                                                <div class="flex gap-1 items-center text-sm text-gray-700 mt-5">
                                                    <i class="fa-regular fa-user"></i>
                                                    <div sec:authorize="isAuthenticated()">
                                                        <div th:if="${@rq.member.id == post.userId}" th:text="${post.username}" class="font-bold text-blue-700"></div>
                                                        <div th:if="${@rq.member.id != post.userId}" th:text="${post.username}" class="font-bold"></div>
                                                    </div>
                                                    <div sec:authorize="isAnonymous()">
                                                        <div th:text="${post.username}" class="font-bold"></div>
                                                    </div>
                                                </div>
                                                <div class="flex gap-1 items-center text-sm text-gray-700">
                                                    <i class="fa-regular fa-clock origin-center"></i>
                                                    <span th:text="${#temporals.format(post.visitedDate, 'yy년 MM월 dd일')} + ' 방문'"
                                                    ></span>
                                                </div>
                                            </div>
                                        </div>

                                    <div th:unless="${post.mainImage == ''}" class="flex justify-center items-center"
                                         style="width: 200px; height: 200px;">
                                        <img class="rounded-lg object-contain" th:src="${post.mainImage}" alt="Image"
                                             style="width: 200px; height: 200px; object-fit: cover; object-position: center; ">
                                    </div>

                                </div>
                            </div>
                        </a>
                    </form>
                </a>
            </div>

            <div th:if="${!paging.isEmpty()}" class="flex justify-center mt-10">
                <ul class="pagination justify-content-center flex">
                    <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
                        <a class="page-link m-1 btn  " href="javascript:void(0);"
                           th:data-page="${paging.number - 1}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}"
                        th:if="${page >= paging.number - 5 and page <= paging.number + 5}"
                        th:classappend="${page == paging.number} ? 'active'"
                        class="page-item">
                        <a th:text="${page}" class="page-link m-1 btn btn-outline" href="javascript:void(0);"
                           th:data-page="${page}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">
                        <a class="page-link m-1 btn " href="javascript:void(0);"
                           th:data-page="${paging.number + 1}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <script layout:fragment="script" type="text/javascript">
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('postForm').submit();
            });
        });
    </script>

</div>

</body>
</html>