<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>
        게시글 읽기
    </title>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />

</head>

<body>

<div layout:fragment="content">

    <script>
        function checkDelete(deleteForm) {
            if (confirm("정말 삭제하시겠습니까?") == true) {
                deleteForm.submit();
            }
            return;
        }
    </script>

    <script>
        function CommentForm__submit(form) {

            if (form.content.value.length == 0) {
                toastWarning('댓글 내용을 입력해주세요');
                form.content.focus();
                return false;
            }

            form.submit();
        }
    </script>

    <div class="hero-content flex-col">
        <div class="max-w-7xl w-full px-4">
            <div>
                <div class="flex flex-col items-center my-5">
                    <a th:href="@{|/place/details/${postView.getData().place}|}" th:text="${postView.getData().placeName}" class="text-4xl my-2 font-bold"></a>
                    <a th:href="@{|/member/page/${postView.getData().member}|}" th:text="${postView.getData().username}" class="text-xl my-2 font-bold"></a>
                    <div class="flex gap-1">
                        <i class="fa-regular fa-clock origin-center"></i>
                        <div th:text="|${postView.getData().getVisitedDate()} 방문|" class="flex justify-center"></div>
                    </div>
                </div>

                <div class="flex gap-4 justify-end"
                    th:if="${@rq.member.getUsername() == postView.getData().getUsername()}">
                    <form th:action="|/post/modify/${postView.getData().getPostId()}|" method="get">
                        <button type="submit" class="btn btn-outline btn-sm">
                            수정하기
                        </button>
                    </form>

                    <form th:action="|/post/softDelete/${postView.getData().getPostId()}|" method="post"
                          onsubmit="checkDelete(this); return false">
                        <button type="submit" th:text="삭제하기"
                                class="btn btn-outline btn-sm"></button>
                    </form>
                </div>
            </div>

            <div class="flex flex-col gap-5 mt-5 p-10 w-full text-lg border border-gray-300 rounded-lg" style="width: 800px">
                <div th:if="${#lists.size(imageList)} > 0 " class="grid grid-cols-2 md:grid-cols-3 gap-4">
                    <div th:each="photo : ${imageList}" class="flex items-center h-auto w-auto max-h-200 max-w-200 justify-center">
                        <img class="rounded-lg object-contain" th:src="${photo}" alt="Image">
                    </div>
                </div>
                <div th:text="${postView.getData().content}" class="whitespace-pre-line"></div>
            </div>

            <!-- 댓글 -->
            <div class="mt-10 pt-5">
                <span>댓글  </span>
                <div class="badge badge-accent badge-lg" th:text="${#lists.size(comments)}"></div>
            </div>

            <!-- 댓글 리스트 -->
            <div class="flex flex-col gap-6 my-5">
                <div th:each="comment : ${comments}">
                    <div class="card flex-shrink-0 w-full bg-base-100 border border-gray-300">
                        <div class="flex gap-4 mx-8 mt-8">
                            <span class="font-bold"
                                  th:text="${comment.memberNickName}"></span>
                            <div class="flex gap-1">
                                <i class="fa-regular fa-clock origin-center"></i>
                                <span class="text-sm text-gray-500"
                                      th:text="${#temporals.format(comment.createDate, 'yy-MM-dd hh:mm')}"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text whitespace-pre-line" th:text="${comment.content}"></div>
                            <div sec:authorize="isAuthenticated()"
                                 th:if="${@rq.member.id == comment.getMemberId()}" class="flex justify-end items-center gap-2">
                                <form th:action="@{/comment/update/{id}(id=${comment.id})}" method="get">
                                    <input type="hidden" name="postId" th:value="${comment.postId}"/>
                                    <button type="submit" class="px-4 py-2 btn btn-outline btn-sm">수정</button>
                                </form>
                                <a class="px-4 py-2 btn btn-outline btn-sm"
                                   href="javascript:;"
                                   onclick="if ( confirm('정말로 삭제하시겠습니까?') ) $(this).next().submit();">
                                    삭제</a>
                                <form th:action="@{/comment/delete/{id}(id=${comment.id})}" method="POST">
                                    <input type="hidden" name="postId" th:value="${comment.postId}"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 댓글 작성 폼-->
                <form th:action="@{/comment/create/{id}(id=${postView.getData().getPostId()})}" method="post"
                      onsubmit="CommentForm__submit(this); return false" class="mb-4">
                    <div class="form-control">
                    <textarea sec:authorize="isAnonymous()" disabled name="content" placeholder="댓글 내용을 입력하세요"
                              class="textarea textarea-bordered w-full px-4 py-2 rounded-lg focus:ring-2 focus:ring-blue-400"></textarea>
                    <textarea sec:authorize="isAuthenticated()" name="content" id="content" placeholder="댓글 내용을 입력하세요"
                              class="textarea textarea-bordered w-full px-4 py-2 rounded-lg focus:ring-2 focus:ring-blue-400"></textarea>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="flex justify-end">
                        <button type="submit" class="px-4 py-2 btn mt-2">댓글 등록</button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>