<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>
        게시글 읽기
    </title>
</head>

<body>

<div layout:fragment="content">

    <script>
        function checkDelete(deleteForm) {
            if (confirm("정말 삭제하시겠습니까?") == true) {
                deleteForm.submit();
            }
            return;
        }
    </script>

    <div class="hero-content flex-col">
        <div class="!max-w-2xl !min-w-2xl w-full px-4">
            <div>
                <div class="flex flex-col items-center my-5">
                    <h1 th:text="${postView.getData().username}" class="text-4xl my-2 font-bold"></h1>
                    <div class="flex gap-1">
                        <i class="fa-regular fa-clock origin-center"></i>
                        <div th:text="|${postView.getData().getVisitedDate()} 방문|" class="flex justify-center"></div>
                    </div>
                </div>

                <div class="flex gap-4 justify-end">
                    <form th:action="|/post/modify/${postView.getData().getPostId()}|" method="get">
                        <button type="submit" class="btn btn-primary btn-sm text-indigo-600 bg-white hover:text-white bg-indigo-600">
                            수정하기
                        </button>
                    </form>

                    <form th:action="|/post/softDelete/${postView.getData().getPostId()}|" method="post"
                          onsubmit="checkDelete(this); return false">
                        <button type="submit" th:text="삭제하기"
                                class="btn btn-primary btn-sm text-indigo-600 bg-white hover:text-white bg-indigo-600"></button>
                    </form>
                </div>
            </div>
            <div>
                <div class="w-11 h-24 mt-10">사진넣는곳</div>
                <div th:text="${postView.getData().content}" class="h-96 "></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>