<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>
        게시글 읽기
    </title>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

<div layout:fragment="content">

    <script>
        function checkDelete(deleteForm) {
            if (confirm("정말 삭제하시겠습니까?") == true) {
                deleteForm.submit();
            }
            return;
        }
    </script>

    <div class="hero-content flex-col">
        <div class="max-w-2xl w-full px-4">
            <div>
                <div class="flex flex-col items-center my-5">
                    <h1 th:text="${postView.getData().username}" class="text-4xl my-2 font-bold"></h1>
                    <div class="flex gap-1">
                        <i class="fa-regular fa-clock origin-center"></i>
                        <div th:text="|${postView.getData().getVisitedDate()} 방문|" class="flex justify-center"></div>
                    </div>
                </div>

                <div class="flex gap-4 justify-end">
                    <button class="btn btn-primary btn-sm text-indigo-600 bg-white hover:text-white bg-indigo-600">
                        <a href="">수정하기</a>
                    </button>

                    <form th:action="|/post/softDelete/${postView.getData().getPostId()}|" method="post"
                          onsubmit="checkDelete(this); return false">
                        <button type="submit" th:text="삭제하기"
                                class="btn btn-primary btn-sm text-indigo-600 bg-white hover:text-white bg-indigo-600"></button>
                    </form>
                </div>
            </div>
            <div>
                <div class="w-11 h-24 mt-10">사진넣는곳</div>
                <div th:text="${postView.getData().content}" class="h-96 w-full" style="width: 640px"></div>
            </div>


            <!-- 댓글 -->
            <div class="divider"></div>
            <span>댓글 보기</span>

            <!-- 댓글 리스트 -->
            <div class="flex flex-col gap-6 my-5">
                <div th:each="comment : ${comments}">
                    <div class="card flex-shrink-0 w-full bg-base-100 border border-gray-300">
                        <div class="card-body">
                            <div class="card-text" th:text="${comment.content}"></div>

                            <div class="flex flex-col items-end gap-1">
                                <div>
                                    작성자 : <span class="font-bold"
                                                th:text="${comment.memberNickName}"></span>
                                </div>
                                <div>
                                    작성일시 : <span class="text-sm text-gray-500"
                                                 th:text="${#temporals.format(comment.createDate, 'yy-MM-dd hh:mm')}"></span>
                                </div>
                            </div>

                            <div class="flex justify-end items-center gap-2">
                                <form th:action="@{/comment/update/{id}(id=${comment.id})}" method="get">
                                    <button type="submit" class="px-4 py-2 btn btn-outline btn-sm">수정</button>
                                </form>
                                <form th:action="@{/comment/delete/{id}(id=${comment.id})}" method="post">
                                    <input type="hidden" name="_method" value="delete">
                                    <button type="submit" class="px-4 py-2 btn btn-outline btn-sm ">삭제</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 댓글 작성 폼-->
                <form th:action="@{/comment/create/{id}(id=${postView.getData().getPostId()})}" method="post"
                      class="mb-4">
                    <textarea name="content" id="content" placeholder="댓글 내용을 입력하세요"
                              class="textarea textarea-bordered w-full px-4 py-2 rounded-lg focus:ring-2 focus:ring-blue-400"></textarea>
                    <div class="flex justify-end">
                        <button type="submit" class="px-4 py-2 btn mt-5">댓글 작성</button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
</body>
</html>