<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>메인</title>
</head>

<body>

<div layout:fragment="content" class="flex-grow flex items-center justify-center p-10">

    <div class="hero-content flex flex-col">
        <div class="flex flex-col items-center">
            <span id="SecondFont" class="text-6xl my-5 font-bold p-2" style=" color: #2D55C9 ">PlaceHub</span>
            <span class="text-2xl font-bold">당신만을 위한 특별한 공간 큐레이션</span>
        </div>
        <div class="flex flex-col bg-gray-100 gap-4 p-10 my-10 rounded-lg text-lg">
            <span><i class="fa-solid fa-circle-info"></i>   나의 관심사를 기반으로 공간을 추천받아보세요.</span>
            <span><i class="fa-solid fa-circle-info"></i>   다른 사람들이 많이 방문한 공간은 어디일까요?</span>
            <span><i class="fa-solid fa-circle-info"></i>   내가 방문한 공간을 아카이빙 해 보세요.</span>
            <span><i class="fa-solid fa-circle-info"></i>   팔로우하고 다른 사용자의 아카이빙을 확인해보세요.</span>
            <span><i class="fa-solid fa-circle-info"></i>   로그인 후 더 다양한 기능을 이용할 수 있습니다.</span>
        </div>
        <div>
            <a href="/place/search" class="btn"> 공간 큐레이션 바로가기</a>
        </div>
    </div>
</div>

</body>

</html>