<footer th:fragment="footerFragment" class="py-8 bg-gray-800">
    <div class="container mx-auto px-4">
        <div class="flex -mx-4">
            <div class="w-full px-4">
                <h4 class="text-gray-200 text-lg mb-2">멋쟁이 사자처럼 백엔드스쿨 3기 팀프로젝트</h4>

                <a href="https://github.com/CatJelly/likelion_team_13" class="text-gray-200">
                    <i class="fab fa-github"></i>
                    <span class="underline">GitHub</span>
                </a>
            </div>
        </div>
    </div>
</footer>