<header th:fragment="headerFragment" class="bg-gray-800">
    <div class="container mx-auto px-4">
        <nav class="flex items-center justify-between py-4">
            <div>
                <a href="#" class="text-2xl font-bold text-white">로고</a>
            </div>
            <div class="hidden md:block">
                <ul class="flex space-x-4">
                    <li><a href="/" class="text-gray-400 hover:text-white">홈</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white">서비스</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white">소개</a></li>
                    <li><a href="/member/join" sec:authorize="isAnonymous()" class="text-gray-400 hover:text-white">회원가입</a></li>
                    <li><a href="/member/login" sec:authorize="isAnonymous()" class="text-gray-400 hover:text-white">로그인</a></li>
                    <li><a href="/member/me"  sec:authorize="isAuthenticated()" class="text-gray-400 hover:text-white">내정보</a></li>
                    <li><a href="/comment/list"  sec:authorize="isAuthenticated()" class="text-gray-400 hover:text-white">댓글</a></li>

                    <a href="javascript:;" sec:authorize="isAuthenticated()" onclick="$(this).next().submit();" class="text-gray-400 hover:text-white">로그아웃</a>
                    <form th:action="|/member/logout|" method="POST"></form>
                </ul>
            </div>
            <div class="md:hidden">
                <button class="text-gray-400 hover:text-white focus:outline-none">
                    <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </nav>
    </div>
</header>