<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
        <title>PlaceHub</title>
    </head>
    <body>
    <!-- nav-bar 시작 -->
    <header th:replace="~{header :: headerFragment}"></header>
    <!-- nav-bar 끝 -->

    <div layout:fragment="content"></div>

    <!-- footer 시작 -->
    <footer th:replace="~{footer :: footerFragment}"></footer>
    <!-- footer 끝 -->
    </body>
</html>