<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />

        <!-- 제이쿼리 불러오기 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <!-- toastr 불러오기 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
        <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

        <!-- 폰트어썸 아이콘 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- 공통 JS 불러오기 -->
        <script src="/resource/common/common.js"></script>
        <!-- 공통 CSS 불러오기 -->
        <link rel="stylesheet" href="/resource/common/common.css">


        <title>PlaceHub</title>
    </head>
    <body>

    <!-- 데이지 UI 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <!-- 테일윈드 불러오기 -->
    <script src="https://cdn.tailwindcss.com"></script>


    <!-- nav-bar 시작 -->
    <header th:replace="~{header :: headerFragment}"></header>
    <!-- nav-bar 끝 -->

    <div layout:fragment="content"></div>

    <!-- footer 시작 -->
    <footer th:replace="~{footer :: footerFragment}"></footer>
    <!-- footer 끝 -->
    </body>
</html>