@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#SecondFont {
    font-family: "yg-jalnan";
    text-underline-position: under;
    word-break: keep-all;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
    word-break: break-word;
}


:root {
    --my-blue: #2D55C9;
    --my-yellow: #FFEF83;
}

.toast-top-right {
    top:75px;
}

.fa-solid {
    vertical-align: middle;
}