<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>
        친구 목록
    </title>

</head>

<body>

<div layout:fragment="content">
    <div class="hero-content flex flex-col my-10">
        <h2 class="text-4xl mt-5 my-5 font-bold flex flex-col">
            친구 목록
        </h2>

        <div class="w-full flex justify-center mt-5">
            <form th:action="@{'/freiend/' + ${nickname}}" method="post"
                  onsubmit="FollowForm__submit(this); return false" class="mb-4">
                <div class="flex gap-2">
                    <div class="form-control ">
                        <input type="text" placeholder="팔로우 할 닉네임을 검색하세요"
                               class="input input-bordered w-full "
                               name="nickname" style="width: 300px;"/>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <button type="submit" class="btn">등록</button>
                    </div>
                </div>
            </form>
        </div>



        <div class="flex gap-4 items-center mt-10">
            나의 닉네임
            <span class="text-2xl font-bold" th:text="${@rq.member.nickname}"></span>
        </div>
        <div>
        <div class="divider !my-2"></div>
        <div class="flex justify-center justify-around my-5" style="width: 800px;">
            <div class="grow">
                <table class="table w-full">
                    <tr class="text-center font-bold text-lg">
                        <th>팔로잉 <span id="followingCount" th:text="${#lists.size(followingList)}"></span></th>
                    </tr>
                    <div id="followingTableBody">
                        <tr class="hover text-center" th:each="following, loop : ${followingList}">
                            <td>
                                <a th:href="@{'member/page/' + ${following.id}}">
                                    <span th:text="${following.nickname}"></span>
                                </a>
                            </td>
                        </tr>
                    </div>
                </table>
            </div>
            <div class="divider divider-horizontal grow"></div>
            <div class="grow ">
                <table class="table w-full">
                    <tr class="text-center font-bold text-lg">
                        <th>팔로워 <span th:text="${#lists.size(followerList)}"></span></th>
                    </tr>
                    <tr class="hover text-center" th:each="follwer, loop : ${followerList}">
                        <td>
                            <a th:href="@{'member/page/' + ${follwer.id}}">
                                <span th:text="${follwer.nickname}"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </div>

    <script>
        // csrf 토큰
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        function FollowForm__submit(form) {
            var nicknameInput = form.querySelector('input[name="nickname"]');
            var nickname = nicknameInput.value.trim();

            if (nickname.trim() === '') {
                toastWarning('팔로우 할 사용자의 닉네임을 입력하세요.');
                return;
            }

            var url = '/friend/create/' + nickname;
            var xhr = new XMLHttpRequest();

            xhr.open('POST', url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader(csrfHeader, csrfToken);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    const response = JSON.parse(xhr.responseText);
                    const returnMessage = response.message;

                    if (xhr.status === 200) {
                        location.reload();
                        toastNotice(returnMessage);
                    } else {
                        toastWarning(returnMessage);
                    }

                }
            };

            var data = JSON.stringify({nickname: nickname});
            xhr.send(data);
        }
    </script>

</div>

</body>
</html>
