<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>
        로그인
    </title>

</head>

<body>

<div layout:fragment="content" class="flex-grow flex items-center justify-center">

    <script>
        function LoginForm__submit(form) {

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="hero-content flex-col">

        <h2 class="text-4xl mt-5 mx-5 font-bold flex flex-col">
            로그인
        </h2>

        <form th:action method="POST" class="p-10 flex flex-col gap-4"
              onsubmit="LoginForm__submit(this); return false;">

            <div>
                <input type="text" name="username" maxlength="20" placeholder="아이디" class="input input-bordered">
            </div>
            <div>
                <input type="password" name="password" maxlength="20" placeholder="비밀번호" class="input input-bordered">
            </div>

            <div class="form-control">
                <input type="submit" value="로그인" class="btn btn-primary">
            </div>

            <div class="divider"></div>
            <a class="btn btn-outline btn-warning flex gap-2" href="/oauth2/authorization/kakao">
                <i class="fa-solid fa-comment"></i>
                카카오로 시작하기
            </a>

            <a class="btn btn-outline btn-success flex gap-2" href="/oauth2/authorization/naver">
                <i class="fa-solid fa-n"></i>
                네이버로 시작하기
            </a>

            <a class="btn btn-outline btn-error flex gap-2" href="/oauth2/authorization/google">
                <i class="fa-brands fa-google"></i>
                구글로 시작하기
            </a>

        </form>

    </div>

</div>
</body>
</html>