<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>
        로그인
    </title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <script>
        toastr.options = {
            closeButton: true,
            debug: false,
            newestOnTop: true,
            progressBar: true,
            positionClass: "toast-top-right",
            preventDuplicates: false,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };

        function toastNotice(msg) {
            toastr["success"](msg, "알림");
        }

        function toastWarning(msg) {
            toastr["warning"](msg, "알림");
        }
    </script>

    <style>
        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        html > body {
            font-family: "GmarketSansMedium";
            text-underline-position: under;
        }
    </style>

</head>

<body>

<script>
    function LoginForm__submit(form) {

        form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

        if (form.username.value.length == 0) {
            toastWarning('아이디를 입력해주세요.');
            form.username.focus();
            return;
        }

        form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

        if (form.password.value.length == 0) {
            form.password.focus();
            toastWarning('비밀번호를 입력해주세요.');
            return;
        }


        form.submit(); // 폼 발송
    }
</script>

<div layout:fragment="content" class="flex-grow flex items-center justify-center">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>

    <form th:action method="POST" class="p-10 flex flex-col gap-4" onsubmit="LoginForm__submit(this); return false;">
        <div>
            <input type="text" name="username" maxlength="20" placeholder="아이디" class="input input-bordered">
        </div>
        <div>
            <input type="password" name="password" maxlength="20" placeholder="비밀번호" class="input input-bordered">
        </div>

        <div>
            <input type="submit" value="로그인" class="btn btn-primary">
        </div>
    </form>
</div>
</body>
</html>