<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>마이페이지</title>
</head>

<body>

<div layout:fragment="content">


    <div class="hero-content flex flex-col my-10">

        <h2 class="text-4xl mt-5 mx-5 font-bold flex flex-col">
            마이페이지
        </h2>

        <div class="flex flex-col">


            <div class="flex justify-between my-10 " style="width: 900px">
                <div class="flex gap-5">
                    <div class="avatar">
                        <div class="w-32 rounded-full">
                            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FGHYFr%2FbtrsSwcSDQV%2FUQZxkayGyAXrPACyf0MaV1%2Fimg.jpg"/>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center gap-4">
                        <div class="flex justify-center  gap-4">
                            <span class="text-2xl font-bold" th:text="${@rq.member.username}"></span>
                            <a href="/member/me">
                                <i class="fa-solid fa-gear fa-xl"></i>
                            </a>
                        </div>
                        <div>
                            자기소개글
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-6">
                    <div class="flex gap-4">
                        <div class="flex flex-col justify-center items-center gap-4">
                            팔로잉
                            <div>0</div>
                        </div>
                        <div class="divider divider-horizontal !mx-1"></div>
                        <div class="flex flex-col justify-center items-center gap-4">
                            팔로워
                            <div>0</div>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button class="btn btn-outline btn-sm">친구 추가하기</button>
                    </div>
                </div>
            </div>


            <div class="flex justify-between mt-5">
                <div class="flex">
                    <div class="mx-2">
                        나의 공간 아카이빙
                    </div>
                    <div class="divider divider-horizontal !mx-1"></div>
                    <div class="mx-2">
                        나의 좋아요 목록
                    </div>
                </div>
                <div class="flex ">
                    <div class="mx-2">
                        타임라인으로 보기
                    </div>
                    <div class="mx-2">
                        지도로 보기
                    </div>
                </div>
            </div>

            <div class="divider !my-2"></div>

            <ol class="relative border-l border-gray-200 dark:border-gray-700 mt-10">
            <li th:each="post, loop : ${postList}" class="mb-10 ml-6">
                 <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg aria-hidden="true" class="w-3 h-3 text-blue-800 dark:text-blue-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                    </span>
                    <span th:text="${#temporals.format(post.getVisitedDate(), 'yy년 MM월 dd일')} + ' 방문'"
                    ></span>
                    <div class="mt-5">
                        <a th:href="@{|/post/view/${post.id}|}"
                           class="card flex-shrink-0 w-full shadow-lg bg-base-100"
                           style="width: 640px">
                            <div class="card-body">
                                <div>
                                <span th:text="${#strings.length(post.getContent()) > 150 ?
                                #strings.substring(post.getContent(), 0, 150) + '...' : post.getContent()}"
                                      class=" text-sm text-gray-400"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            </ol>
        </div>
    </div>


    <script>
        const editNicknameBtn = document.getElementById("editNicknameBtn");
        const nicknameUpdateContainer = document.getElementById("nicknameUpdateContainer");
        const nicknameValue = document.getElementById("nicknameValue");
        const nicknameInput = document.getElementById("nicknameInput");
        const updateNicknameBtn = document.getElementById("updateNicknameBtn");
        const memberId = editNicknameBtn.getAttribute("data-member-id");
        const updateNicknameResult = document.getElementById("updateNicknameResult");

        // csrf 토큰
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        // 수정하기 버튼 클릭 시
        editNicknameBtn.addEventListener("click", () => {
            nicknameUpdateContainer.style.display = "block";
            editNicknameBtn.style.display = "none";
            nicknameInput.value = nicknameValue.textContent;
        });

        // 수정된 닉네임을 페이지에 반영
        function updateNicknameDisplay(newNickname) {
            const nicknameValue = document.getElementById("nicknameValue");
            nicknameValue.textContent = newNickname;
        }

        // 수정 완료 버튼 클릭 시
        updateNicknameBtn.addEventListener("click", () => {
            const newNickname = nicknameInput.value;

            // 내용을 입력하지 않은 경우
            if (!newNickname) {
                updateNicknameResult.style.display = "block";
                updateNicknameResult.textContent = "변경할 닉네임을 입력해주세요.";
                return;
            }

            // 기존 닉네임과 같은 닉네임을 입력한 경우
            if (newNickname === nicknameValue.textContent) {
                updateNicknameResult.style.display = "block";
                updateNicknameResult.textContent = "새로운 닉네임을 입력해주세요.";
                return;
            }

            const endpoint = `/member/update/nickname/${memberId}`;

            const xhr = new XMLHttpRequest();
            xhr.open("POST", endpoint);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.setRequestHeader(csrfHeader, csrfToken);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    const response = JSON.parse(xhr.responseText);
                    const returnMessage = response.message;

                    if (xhr.status === 200) {
                        toastNotice(returnMessage);
                        updateNicknameDisplay(newNickname); // 수정된 닉네임 반영
                    } else {
                        toastWarning(returnMessage);
                    }
                }
            };
            xhr.send("nickname=" + encodeURIComponent(newNickname));
            nicknameUpdateContainer.style.display = "none";
            updateNicknameResult.style.display = "none";
            editNicknameBtn.style.display = "block";
        });
    </script>

</div>
</body>

</html>
