<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>친구 페이지</title>
</head>

<body>

<div layout:fragment="content">
    <div class="hero-content flex flex-col my-10">

        <div class="flex flex-col">
            <div class="flex justify-between my-10 " style="width: 900px">
                <div class="flex gap-5">
                    <div class="avatar">
                        <div class="w-32 rounded-full">
                            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FGHYFr%2FbtrsSwcSDQV%2FUQZxkayGyAXrPACyf0MaV1%2Fimg.jpg"/>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center gap-4">
                        <div class="flex gap-4">
                            <span class="text-2xl font-bold" th:text="${friend.nickname}"></span>
                            <div sec:authorize="isAuthenticated()">
                                <form th:if="${follow} != null " th:action="@{|/friend/delete/${friend.id}|}" method="POST">
                                    <button type="submit" class="btn btn-warning btn-sm">언팔로우</button>
                                </form>
                                <form th:if="${follow} == null" th:action="@{|/friend/create/${friend.id}|}" method="GET">
                                    <button type="submit" class="btn btn-success btn-sm">팔로우</button>
                                </form>
                            </div>
                        </div>
                        <div>
                            <div id="bioContainer" class="flex gap-5">
                                <div class="min-w-sm">
                                    <span id="bioValue" class="text-gray-400 text-sm"
                                          th:text="${friend.bio}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="flex gap-4">
                        <div class="flex flex-col justify-center items-center gap-4">
                            팔로잉
                            <div><span th:text="${#lists.size(followingList)}"></span></div>
                        </div>
                        <div class="divider divider-horizontal !mx-1"></div>
                        <div class="flex flex-col justify-center items-center gap-4">
                            팔로워
                            <div><span th:text="${#lists.size(followerList)}"></span></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex justify-between mt-5">
                <div class="flex">
                    <div class="mx-2">
                        <button id="myPlaceBtn" class="font-bold">공간 아카이빙</button>
                    </div>
                    <div class="divider divider-horizontal !mx-1"></div>
                    <div class="mx-2">
                        <button id="myLikePlaceBtn">좋아요 목록</button>
                    </div>
                </div>
                <div class="flex">
                    <div class="mx-2">
                        <button id="myPlaceTimelineBtn" class="font-bold">타임라인으로 보기</button>
                    </div>
                    <div class="divider divider-horizontal !mx-1"></div>
                    <div class="mx-2">
                        <button id="myPlaceMapBtn">지도로 보기</button>
                    </div>
                </div>
            </div>

            <div class="divider !my-2"></div>

            <div id="myPlaceTimeline">
                <div th:if="${#lists.size(postList)} == 0" class="hero-content">
                    <div>등록된 아카이빙이 없습니다.</div>
                </div>
                <ol th:unless="${#lists.size(postList)} == 0" class="relative border-l border-gray-200 dark:border-gray-700">
                    <li th:each="post, loop : ${postList}" th:if="${post.openToPublic}" class="my-10 ml-6">
                 <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg aria-hidden="true" class="w-3 h-3 text-blue-800 dark:text-blue-300" fill="currentColor"
                             viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                  clip-rule="evenodd"></path></svg>
                    </span>
                        <div>
                        <span th:text="${#temporals.format(post.getVisitedDate(), 'yy년 MM월 dd일')} + ' 방문'"
                        ></span>
                        </div>
                        <div class="mt-5">
                            <a th:href="@{|/post/view/${post.id}|}"
                               class="card flex-shrink-0 w-full shadow-lg bg-base-100"
                               style="width: 640px">
                                <div class="card-body">
                                    <div>
                                <span th:text="${#strings.length(post.getContent()) > 150 ?
                                #strings.substring(post.getContent(), 0, 150) + '...' : post.getContent()}"
                                      class=" text-sm text-gray-400"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    </ul>
                </ol>
            </div>

            <div id="myLikePlace" style="display: none;">
                <div th:if="${#lists.size(placeInfoList)} == 0" class="hero-content">
                    <div>등록된 좋아요가 없습니다.</div>
                </div>
                <div class="grid grid-cols-3 gap-3">
                    <div th:each="placeInfo, loop : ${placeInfoList}">
                        <a th:href="@{|/place/details/${placeInfo.place.id}|}"
                           class="card flex-shrink-0 w-full shadow-2xl bg-base-100">
                            <!--                           onclick="window.open(this.href, '_blank', 'width=600, height=700'); return false;">-->
                            <div class="card-body">
                                <div th:text="${placeInfo.place.placeName}" class="text-lg font-bold"></div>
                                <div th:if="${!#strings.isEmpty(placeInfo.bigCategoryName)}">
                                    <div class="badge badge-accent badge-md"
                                         th:text="${placeInfo.bigCategoryName}"></div>
                                </div>
                                <div th:if="${!#strings.isEmpty(placeInfo.midCategoryName)}">
                                    <div class="badge badge-accent badge-md"
                                         th:text="${placeInfo.midCategoryName}"></div>
                                </div>
                                <div th:if="${!#strings.isEmpty(placeInfo.smallCategoryName)}">
                                    <div class="badge badge-accent badge-md"
                                         th:text="${placeInfo.smallCategoryName}"></div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div id="myPlaceMap" style="display: none;">지도로 보기</div>


        </div>
    </div>


    <script>
        // csrf 토큰
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        const myPlaceBtn = document.getElementById("myPlaceBtn");
        const myPlaceTimeline = document.getElementById("myPlaceTimeline");
        const myPlaceTimelineBtn = document.getElementById("myPlaceTimelineBtn")
        const myPlaceMap = document.getElementById("myPlaceMap");
        const myPlaceMapBtn = document.getElementById("myPlaceMapBtn")
        const myLikePlace = document.getElementById("myLikePlace");
        const myLikePlaceBtn = document.getElementById("myLikePlaceBtn")

        myPlaceBtn.addEventListener("click", () => {
            myPlaceTimeline.style.display = "block";
            myLikePlace.style.display = "none";
            myPlaceMap.style.display = "none";
            myPlaceTimelineBtn.style.display = "block";
            myPlaceMapBtn.style.display = "block";

            myPlaceTimelineBtn.style.fontWeight = "bold";
            myPlaceMapBtn.style.fontWeight = "normal"
            myLikePlaceBtn.style.fontWeight = "normal";
            myPlaceBtn.style.fontWeight = "bold";
        });

        myPlaceTimelineBtn.addEventListener("click", () => {
            myPlaceTimeline.style.display = "block";
            myLikePlace.style.display = "none";
            myPlaceMap.style.display = "none";

            myPlaceTimelineBtn.style.fontWeight = "bold";
            myPlaceMapBtn.style.fontWeight = "normal"
        });

        myPlaceMapBtn.addEventListener("click", () => {
            myPlaceTimeline.style.display = "none";
            myLikePlace.style.display = "none";
            myPlaceMap.style.display = "block";

            myPlaceTimelineBtn.style.fontWeight = "normal";
            myPlaceMapBtn.style.fontWeight = "bold"
        });

        myLikePlaceBtn.addEventListener("click", () => {
            myPlaceTimeline.style.display = "none";
            myLikePlace.style.display = "block";
            myPlaceMap.style.display = "none";
            myPlaceTimelineBtn.style.display = "none";
            myPlaceMapBtn.style.display = "none";
            myLikePlaceBtn.style.fontWeight = "bold";
            myPlaceBtn.style.fontWeight = "normal";
        });

    </script>

</div>
</body>

</html>
