<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>유저 페이지</title>
</head>

<body>

<div layout:fragment="content">
    <div class="hero-content flex flex-col my-10">

        <h2 th:if="${member.id == @rq.member.id}" class="text-4xl mt-5 mx-5 font-bold flex flex-col">
            마이페이지
        </h2>

        <div class="flex flex-col">
            <div class="flex justify-between my-10 " style="width: 900px">
                <div class="flex gap-5">
                    <div class="avatar">
                        <div class="w-32 rounded-full">
                            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FGHYFr%2FbtrsSwcSDQV%2FUQZxkayGyAXrPACyf0MaV1%2Fimg.jpg"/>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center gap-4">
                        <div class="flex gap-4">
                            <span class="text-2xl font-bold" th:text="${member.nickname}"></span>
                            <a href="/member/me" th:if="${member.id == @rq.member.id}">
                                <i class="fa-solid fa-gear fa-xl"></i>
                            </a>
                            <div sec:authorize="isAuthenticated()" th:if="${member.id != @rq.member.id}">
                                <form th:if="${follow} != null " th:action="@{|/friend/delete/${member.id}|}"
                                      method="POST">
                                    <button type="submit" class="btn btn-warning btn-sm">언팔로우</button>
                                </form>
                                <form th:if="${follow} == null" th:action="@{|/friend/create/${member.id}|}"
                                      method="GET">
                                    <button type="submit" class="btn btn-success btn-sm">팔로우</button>
                                </form>
                            </div>
                        </div>
                        <div th:if="${member.id != @rq.member.id}">
                            <div class="flex gap-5">
                                <div class="min-w-sm">
                                    <span class="text-gray-400 text-sm"
                                          th:text="${member.bio}"></span>
                                </div>
                            </div>
                        </div>
                        <div th:if="${member.id == @rq.member.id}">
                            <div id="bioContainer" class="flex gap-5">
                                <div class="min-w-sm">
                                    <span id="bioValue" class="text-gray-400 text-sm"
                                          th:text="${@rq.member.bio} ? ${@rq.member.bio} : '바이오를 등록해보세요'"></span>
                                </div>
                                <button id="editBioBtn" class="btn btn-xs btn-outline"
                                        th:attr="data-member-id=${@rq.member.id}">
                                    <i class="fa-solid fa-pencil"></i>
                                </button>
                            </div>
                            <div id="bioUpdateContainer" class="flex mt-1" style="display: none;">
                                <textarea id="bioInput"
                                          class="p-2 max-w-sm rounded-md border border-gray-200"></textarea>
                                <button id="updateBioBtn" class="btn btn-xs btn-outline mx-1">수정완료</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="flex gap-4" th:if="${member.id != @rq.member.id}">
                        <div class="flex flex-col justify-center items-center gap-4">
                            팔로잉
                            <div><span th:text="${#lists.size(followingList)}"></span></div>
                        </div>
                        <div class="divider divider-horizontal !mx-1"></div>
                        <div class="flex flex-col justify-center items-center gap-4">
                            팔로워
                            <div><span th:text="${#lists.size(followerList)}"></span></div>
                        </div>
                    </div>
                    <div class="flex gap-4" th:if="${member.id == @rq.member.id}">
                        <div class="hover:bg-blue-50 p-2">
                            <a href="/friend/list" class="flex flex-col justify-center items-center gap-4">
                                팔로잉
                                <div><span th:text="${#lists.size(followingList)}"></span></div>
                            </a>
                        </div>
                        <div class="divider divider-horizontal !mx-1"></div>
                        <div class="hover:bg-blue-50 p-2">
                            <a href="/friend/list" class="flex flex-col justify-center items-center gap-4">
                                팔로워
                                <div><span th:text="${#lists.size(followerList)}"></span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-between mt-5">
                <div class="flex">
                    <div class="mx-2">
                        <button id="myPlaceBtn" class="font-bold">나의 공간 아카이빙</button>
                    </div>
                    <div class="divider divider-horizontal !mx-1"></div>
                    <div class="mx-2">
                        <a th:href="@{|/member/page/like-list/${member.id}|}" id="myLikePlaceBtn">나의 좋아요 목록</a>
                    </div>
                </div>
                <div class="flex" id="myPlaceSelectBtn">
                    <div class="mx-2">
                        <button id="myPlaceTimelineBtn" class="font-bold">타임라인으로 보기</button>
                    </div>
                    <div class="mx-2">
                        <button id="myPlaceMapBtn">지도로 보기</button>
                    </div>
                </div>
            </div>

            <div class="divider !my-2"></div>

            <div id="myPlaceTimeline">
                <div th:if="${#lists.size(postViewerList)} == 0" class="hero-content">
                    <div>등록된 아카이빙이 없습니다.</div>
                </div>
                <ol th:unless="${#lists.size(postViewerList)} == 0"
                    class="relative border-l border-gray-200 dark:border-gray-700">
                    <li th:each="post, loop : ${postViewerList}" class="my-10 ml-6">
                        <form th:action method="GET" id="postForm">
                            <input type="hidden" id="page" name="page" th:value="${postPaging.number}">
                            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                            <svg aria-hidden="true" class="w-3 h-3 text-blue-800 dark:text-blue-300" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                      clip-rule="evenodd"></path></svg>
                        </span>
                            <div>
                                <span th:text="${#temporals.format(post.visitedDate, 'yy년 MM월 dd일')} + ' 방문'"></span>
                                <i th:if="${post.openToPublic}" class="fa-solid fa-lock-open mx-3"></i>
                                <i th:unless="${post.openToPublic}" class="fa-solid fa-lock mx-3"></i>
                            </div>
                            <div class="mt-5 flex flex-row gap-4">
                                <a th:href="@{|/post/view/${post.postId}|}"
                                   class="card flex-shrink-0 w-full shadow-xl bg-base-100"
                                   style="width: 640px">
                                    <div class="card-body">
                                        <div class="flex gap-3 mt-2">
                                            <div th:text="${post.placeName}" class="text-lg font-bold "></div>
                                            <div th:if="${!#strings.isEmpty(post.midCategoryName)}">
                                                <div class="badge badge-ghost badge-md"
                                                     th:text="${post.midCategoryName}"></div>
                                            </div>
                                        </div>
                                        <div>
                                <span th:text="${#strings.length(post.content) > 150 ?
                                #strings.substring(post.content, 0, 150) + '...' : post.content}"
                                      class=" text-sm text-gray-400"></span>
                                        </div>
                                    </div>
                                </a>
                                <a th:href="@{|/post/view/${post.postId}|}" th:unless="${post.mainImage == ''}"
                                   class="flex jusify-center items-center shadow-xl rounded-xl"
                                   style="width: 200px; height: 200px;">
                                    <img class="rounded-xl object-contain" th:src="${post.mainImage}" alt="Image"
                                         style="width: 200px; height: 200px; object-fit: cover; object-position: center; ">
                                </a>
                            </div>
                        </form>
                    </li>
                    </ul>
                </ol>

                <div th:if="${!postPaging.isEmpty()}" class="flex justify-center">
                    <ul class="pagination justify-content-center flex">
                        <li class="page-item" th:classappend="${!postPaging.hasPrevious()} ? 'disabled'">
                            <a class="page-link m-1 btn  " href="javascript:void(0);"
                               th:data-page="${postPaging.number - 1}">
                                <span>이전</span>
                            </a>
                        </li>
                        <li th:each="page : ${#numbers.sequence(0, postPaging.totalPages - 1)}"
                            th:if="${page >= postPaging.number - 5 and page <= postPaging.number + 5}"
                            th:classappend="${page == postPaging.number} ? 'active'"
                            class="page-item">
                            <a th:text="${page}" class="page-link m-1 btn btn-outline" href="javascript:void(0);"
                               th:data-page="${page}"></a>
                        </li>
                        <li class="page-item" th:classappend="${!postPaging.hasNext()} ? 'disabled'">
                            <a class="page-link m-1 btn " href="javascript:void(0);"
                               th:data-page="${postPaging.number + 1}">
                                <span>다음</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="myPlaceMap" class="hidden" style="width:100%;height:500px;"></div>

        </div>
    </div>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2652c9851bbcfcd7c014b2339462c149"></script>
    <script th:inline="javascript">

        let placeArray = new Array();
        let placeInfo;
        /*[# th:each="place : ${visitedPlaces}"]*/
        placeInfo = {
            id: /*[[${place.id}]]*/null,
            name: /*[[${place.placeName}]]*/null,
            xPos: /*[[${place.point.x}]]*/null,
            yPos: /*[[${place.point.y}]]*/null
        };
        placeArray.push(placeInfo);
        /*[/]*/

        var xPosAverageByVisitedPlaces = /*[[${xPosAverageByVisitedPlaces}]]*/null;
        var yPosAverageByVisitedPlaces = /*[[${yPosAverageByVisitedPlaces}]]*/null;

        console.log(placeArray);

    </script>
    <script>
        // 탭 이동 관련
        const myPlaceBtn = document.getElementById("myPlaceBtn");
        const myPlaceTimeline = document.getElementById("myPlaceTimeline");
        const myPlaceTimelineBtn = document.getElementById("myPlaceTimelineBtn")
        const myPlaceMap = document.getElementById("myPlaceMap");
        const myPlaceMapBtn = document.getElementById("myPlaceMapBtn")
        const myPlaceSelectBtn = document.getElementById("myPlaceSelectBtn")

        const myLikePlace = document.getElementById("myLikePlace");

        // 페이징
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('postForm').submit();
            });
        });


        // 버튼 이벤트
        myPlaceBtn.addEventListener("click", () => {
            myPlaceTimeline.style.display = "block";
            myPlaceMap.style.display = "none";
            myPlaceSelectBtn.style.display = "flex";

            myPlaceTimelineBtn.style.fontWeight = "bold";
            myPlaceMapBtn.style.fontWeight = "normal"
            myLikePlaceBtn.style.fontWeight = "normal";
            myPlaceBtn.style.fontWeight = "bold";
        });

        myPlaceTimelineBtn.addEventListener("click", () => {
            myPlaceTimeline.style.display = "block";
            myPlaceMap.style.display = "none";

            myPlaceTimelineBtn.style.fontWeight = "bold";
            myPlaceMapBtn.style.fontWeight = "normal"
        });

        myPlaceMapBtn.addEventListener("click", () => {
            myPlaceMap.style.display = "block";
            myPlaceTimeline.style.display = "none";

            myPlaceTimelineBtn.style.fontWeight = "normal";
            myPlaceMapBtn.style.fontWeight = "bold"


            // --------카카오 맵 지도 생성--------------
            // 마커를 표시할 위치와 title 객체 배열입니다
            var positions = [];

            for (var i = 0; i < placeArray.length; i++) {
                var place = placeArray[i];
                var position = {
                    id: place.id,
                    title: place.name,
                    latlng: new kakao.maps.LatLng(place.yPos, place.xPos)
                };
                positions.push(position);
            }

            // 카카오 맵 관련
            var mapContainer = document.getElementById('myPlaceMap'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(yPosAverageByVisitedPlaces, xPosAverageByVisitedPlaces), // 지도의 중심좌표
                    // center: new kakao.maps.LatLng(,126.85496334236), // 지도의 중심좌표
                    //   center: position[0].latlng, // 지도의 중심좌표
                    level: 9 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 마커 이미지의 이미지 주소입니다
            var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

            for (var i = 0; i < positions.length; i++) {

                // 마커 이미지의 이미지 크기 입니다
                var imageSize = new kakao.maps.Size(24, 35);

                // 마커 이미지를 생성합니다
                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: positions[i].latlng, // 마커를 표시할 위치
                    title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                    image: markerImage // 마커 이미지
                });

                var content = '<div class="customoverlay">' +
                    '  <a href="/place/details/' + positions[i].id + '" target="_blank">' +
                    '    <span class="title">' + positions[i].title + '</span>' +
                    '  </a>' +
                    '</div>';

                // 커스텀 오버레이를 생성합니다
                var customOverlay = new kakao.maps.CustomOverlay({
                    map: map,
                    position: positions[i].latlng,
                    content: content,
                    yAnchor: 1
                });

            }

        });

    </script>
    <script>
        // 바이오 수정 관련
        const editBioBtn = document.getElementById("editBioBtn");
        const bioUpdateContainer = document.getElementById("bioUpdateContainer");
        const bioValue = document.getElementById("bioValue");
        const bioInput = document.getElementById("bioInput");
        const updateBioBtn = document.getElementById("updateBioBtn");
        const memberId = editBioBtn.getAttribute("data-member-id");
        const bioContainer = document.getElementById("bioContainer");

        // csrf 토큰
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        // 수정하기 버튼 클릭 시
        editBioBtn.addEventListener("click", () => {
            bioUpdateContainer.style.display = "block";
            bioContainer.style.display = "none";
            bioInput.value = bioValue.textContent;
        });

        function updateBioDisplay(newBio) {
            const bioValue = document.getElementById("bioValue");
            bioValue.textContent = newBio;
        }

        updateBioBtn.addEventListener("click", () => {
            const newBio = bioInput.value;


            const endpoint = `/member/update/bio/${memberId}`;

            const xhr = new XMLHttpRequest();
            xhr.open("POST", endpoint);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.setRequestHeader(csrfHeader, csrfToken);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    const response = JSON.parse(xhr.responseText);
                    const returnMessage = response.message;

                    if (xhr.status === 200) {
                        toastNotice(returnMessage);
                        updateBioDisplay(newBio);
                    } else {
                        toastWarning(returnMessage);
                    }
                }
            };
            xhr.send("bio=" + encodeURIComponent(newBio));
            bioUpdateContainer.style.display = "none";
            bioContainer.style.display = "block";
        });
    </script>


</div>
</body>

</html>
